mat-button-toggle-group {
  margin-bottom: 1rem;
}

.tableau {
  width: 100%;
}

mat-chip.eleve {
  background: #ffe0b2;
}

mat-chip.a-reverifier {
  background: #fff3e0;
}

.vide {
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
}
